.Dates {
    font-family: sans-serif;
    //"Lucida Console", Helvetica, 
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    height: 512px;
    //height: 100%;
    .dateBlock {
        width: calc(100% / 7);
        //color: #8000ff;
        //color: white;
        color: #b162ff;
        font-size: 1.25rem;
        font-weight: bold;
        &:nth-child(7n + 1) {
            color: #D13E3E;
        }
        &:nth-child(7n) {
            color: #396EE2;
        }
        .other {
            opacity: 0.3;
        }
        .this {
            cursor: pointer;
            padding-right: 0.25rem;
            padding-left: 0.25rem;
            padding-top: 0.25rem;
            height: 90px;
            &.today {
                //background-color: #c890ff60;
                box-sizing: border-box;
                border: 2px solid #c890ffd5;
                //border: 2px solid white;
                //border-radius: 6px
            }
            .todo {
                background-color: #78e08f;
                border-radius: 4px;
                margin-top: 0.25rem;
                color: white;
                padding-bottom: 0.1rem;
                padding-left: 1rem;
                font-family: 'Century Gothic', sans-serif;
                font-size: 1rem;
                //font-weight: lighter;
            }
        }
    }
}