.Modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);
    &.openModal {
        display: flex;
        animation: modal-bg-show .3s;
        section {
            width: 90%;
            max-width: 400px;
            height: 400px;
            display: flex;
            flex-direction: column;
            margin: 200px auto;
            font-family: verdana, sans-serif;
            background-color: white;
            border-radius: 8px;    
            //#ff4d4d
            //overflow: hidden;
            animation: modal-show .3s;
            header {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                padding:0.5rem 0;
                .dateinfo {
                    margin-top: 1rem;
                    color: #52198b;
                    font-weight: bold;
                }
            };
            form {
                display: flex;
                margin-top: 1rem;
                padding: 1.5rem 0;
                justify-content: center;
                border-top: 1px solid #cacbcc;
                input {
                    background: none;
                    outline: none;
                    border: none;
                    padding-left: 1rem;
                    background: #f9f4ff;
                    font-size: 1rem;
                    //border: 2px solid #c890ff;
                    &::placeholder {
                        color: rgb(175, 175, 175);
                        font-style: italic;
                    }
                }
                .insert-btn {
                    background: none;
                    outline: none;
                    border: none;
                    background-color: #c890ff;
                    padding-right: 0.5rem;
                    padding-left: 0.5rem;
                    color: white;
                    margin-left: 0.75rem;
                    font-size: 1.5rem;
                    cursor: pointer;
                    &:hover {
                        background: #be80fc;
                    }
                }

            }
            .list{
                padding: 0 1rem;
                font-size: 1rem;
                margin: 1rem 0;
                max-height: 50%;
                overflow-y: auto;
                color: #3d3d3d;
                flex: 1;
            }
            footer {
                display: flex;
                justify-content: center;
                background-color: #c890ff;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                .close-btn {
                    background: none;
                    outline: none;
                    border: none;
                    flex: 1;
                    padding: 0.75rem 0;
                    //margin-bottom: 1rem;
                    //border: 1px solid #c890ff;
                    background: #c890ff;
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    cursor: pointer;
                    font-size: 1rem;
                    color: white;
                    &:hover {
                        background: #be80fc;
                    }
                }
            }
        }
    }
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: 150px;
    }
    to {
        opacity: 1;
        margin-top:200;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}