.TodoInsert {
    display: flex;
    margin-bottom: 3rem;

    input {
        background: none;
        outline: none;
        border: none;
        padding: 0.25rem;
        padding-left: 0.75rem;
        font-size: 1rem;
        background: #e2e2e2;
        margin-left: 3rem;
        // &::placeholder {
        //     color: #c890ff;
        // }
        flex: 1;
    }

    button {
        background: none;
        outline: none;
        border: none;
        border-radius: 4px;
        background: #c890ff;
        color: white;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        margin-right: 3rem;
        margin-left: 0.5rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.1s background ease-in;
        &:hover {
            background: #be80fc;
        }
    }
}