.TodoItem {
    background-color: #e2e2e29f;
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
    color: rgb(36, 36, 36);

    .checkbox {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 0.25rem;
        cursor: pointer;
        svg {
            color: #c386ff;
            font-size: 2rem;
            border-radius: 4px;
        }
        
        &.done {
            .text {
                text-decoration: line-through;
            }
        }
    }

    .text {
        flex: 1;
        margin-left: 0.5rem;
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
    }
    
    .remove {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        margin-right: 0.25rem;
        color: #ff6b6b;
        cursor: pointer;
        &:hover {
            color: #ff8787;
        }
    }
    
    & + & {
        margin-top: 0.75rem;
    }
}