@import '../../lib/common/util.scss';
@mixin box() {
    display: flex;
    flex-direction: row-reverse;
};

.Weather {
    margin-right: 3rem;
    color: white;
    font-family: $init-font;
    .location {
        @include box();
    }
    .desc {
        @include box();
    }
}