@mixin box() {
    display: flex;
    flex-direction: row-reverse;
};

.Weather {
    margin-right: 3rem;
    color: white;
    font-family: "Lucida Console", Helvetica, sans-serif;
    .location {
        @include box();
    }
    .desc {
        @include box();
    }
}